body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f4f6;
}

.back-btn {
  display: inline-block;
  background: #0ea5e9;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  transition: 0.2s;
  font-weight: 600;
}

.back-btn:hover {
  background: #0284c7;
}

.title {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  color: #0ea5e9;
  font-size: 2rem;
  font-weight: bold;
}

.timeline {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 80px;
  padding: 20px;
  padding-top: 5px;
  scroll-behavior: smooth;
  min-height: 300px;
}

.timeline::-webkit-scrollbar {
  height: 8px;
}

.timeline::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 4px;
}

.card {
  min-width: 260px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-left: 3px solid #0ea5e9;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.mid {
  width: 100%;
}

.view-btn {
  display: inline-block;
  margin-top: 12px;
  background: #0ea5e9;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

.view-btn:hover {
  background: #0284c7;
}

.timeline-indicator {
  width: 20px;
  height: 20px;
  background: #0ea5e9;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: transform 0.1s linear;
}

.button {
  min-width: 260px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-left: 3px solid #0ea5e9;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
