* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
  color: #222;
  padding: 40px 20px;
  line-height: 1.7;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.08);
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 20px 0 30px 0;
  font-weight: 700;
  color: #0a5c86;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

.back-btn,
.next-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background: #00a2d2;
  padding: 12px 22px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.2s;
}

.back-btn:hover,
.next-btn:hover {
  background: #008ab4;
}

.nav-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.conteudo,
.unico,
.varios {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.06);
  margin-bottom: 25px;
}

ul {
  margin: 15px 0 20px 30px;
}

ul li {
  margin-bottom: 8px;
  font-size: 18px;
}

.lista-exercicios li {
  margin-bottom: 6px;
}

pre {
  background: #1b1b1b;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 12px 0 20px 0;
  font-size: 15px;
}

h2 {
  margin-bottom: 10px;
  font-size: 26px;
  color: #0a5c86;
}

h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.ppm-img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 2px solid #ccc;
}
